<% layout('layout') -%>
    <div class="jumbotron"
    style="position: relative;
    padding: 10px;
  margin: 10px;">
      <h1>NYU숲에 오신 것을 환영합니다.</h1>
      <p>현재 사이트가 개발 중에 있습니다.</p>
      <p><a class="btn btn-primary btn-lg" href="/board" role="button">Write now!</a></p>
    </div>
