body{
  background-color: #FFFFFC;
}
.main-container {
  margin: 0 auto;
  max-width: 1000px;
}
.main-board{
  max-width: 750px;
  min-width: 400px;
}
.main-side{
  max-width: 350px;
}
.navbar {
  margin: 0 auto;
  max-width: 1300px;
}
.input-group.comment{
  margin-left: 3px;
}


.panel.panel-default.right {
  float: right;
  width: 82%;
  margin-right: 10px;
}
.jumbotron.home {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 0;
  background-color: #F7F7FC;
}

.list-group-item.comment p {
  padding-left: 30px;
}
.list-group-item.comment a {
  padding-left: 25px;
  padding-bottom: 10px;
  font-weight: 500;
}
.list-groupe-item.best {
  /*padding-left: 5px;
  padding-bottom: 5px;*/
}
.home-forest {
  padding: 0;
  /*padding-bottom: 0 !important;*/
  /*margin: 0;*/
}
/*.footbar {
  margin: 0 auto;
  background-color: #FEFCFF;
  max-width: 1300px;
  border: none;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}*/
.comment_number {
  color: #ba3c3f;
}
.badge.up{
  background-color: #FFAF06;
}
.badge.down{
  background-color: #FF7813;
}
/*.list-group-item-info {
  color: #9c27b0;
  background-color: #FAEEFF;
}*/
.navbar.navbar-default.forest{
  background-color: #FEFCFF;
}
.panel-heading{
  background-color: #FEFCFF;
}
@media (max-width:1000px){
  .pagination.center{
    text-align: center !important;
    /*width: 100%;*/
  }
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #FA755F;
  border-color: #FA755F;
}

/*.navbar {max-height:30px !important;}*/
