<div class='main-container'>
<div class="row">
  <ul class="nav nav-tabs nav-justified">
    <li><a href="/#board/stern">Stern</a></li>
    <li><a href="/#board/cas">CAS</a></li>
    <li><a href="/#board/sps">SPS</a></li>
    <li><a href="/#board/tisch">Tisch</a></li>
    <li><a href="/#board/steinhardt">Steinhardt</a></li>
    <li><a href="/#board/gallatin">Gallatin</a></li>
</ul>
<br>
  <!-- <ul class="nav nav-pills">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Profile</a></li>
  <li class="disabled"><a href="#">Disabled</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
      Dropdown <span class="caret"></span>
    </a>
  </li>
</ul> -->
</div>
<div class="row">
  <div class="col-xs-12 col-md-2">
    <aside class="main-side">
    <div class="list-group">
      <a ng-href="/#board/free" class="list-group-item">자유 게시판</a>
      <a ng-href="/#board/food" class="list-group-item">맛집 리뷰</a>
      <a ng-href="/#board/info" class="list-group-item">정보 공유</a>
      <a ng-href="/#board/job" class="list-group-item">사람을 구해요</a>
      <a ng-href="/#board/sell" class="list-group-item">사고 팔아요</a>
      <a ng-href="/#board/letter" class="list-group-item">운영자/개발자에게</a>
    </div>
    </aside>
  </div>


  <div class="col-xs-12 col-md-7">
      <article class="main-board">


        <!-- So basically this below botton should hold ng-hide property
          and how if the user is not subscribed the school
       -->
      <button type="button" ng-click="subscribeToSchool(school)">Subscribe</button>


      <div class="list-group" >
        <a href="/#board" class="list-group-item active">
          <!-- <span class="badge">14</span> -->
          게시판 목록입니다.
        </a>
        <a ng-href="/#post/{{post._id}}" class="list-group-item" ng-repeat="post in posts">
          {{ post.title }}
          <small> : {{post.author}}</small>
          <span class="comment_number">[{{post.comment_num}}]</span>

          <span class="badge down">{{post.downs}}</span>
          <span class="badge up">{{post.ups}}</span>

        </a>
        <!-- <a href="/#board" class="list-group-item" ng-repeat="page in pages" ng-click="paging(page)">
          {{pages}}
        </a> -->
      </div>

      </article>
    </div>
    <div class="col-xs-12 col-md-3">
      <aside class="main-side" ng-controller="bestCtrl">
      <div class="list-group"><a href="/#board" class="list-group-item active">
        BEST
      </a>
      <a ng-href="/#post/{{best._id}}" class="list-group-item best" ng-repeat="best in bests">
        {{ best.title }}
        <!-- <small> : {{best.author}}</small>
        <span class="comment_number">[{{best.comment_num}}]</span>
        <span class="badge down">{{best.downs}}</span> -->
        <span class="badge up">{{best.ups}}</span>
        <br>
      </a>
      </div>
      </aside>
    </div>
    <div class="text-center">
      <nav class="col-xs-12 col-md-12">

        <ul class="pagination">
          <li ng-repeat="page in pages" ng-click="paging(page)"><a href>{{page}}</a></li>
        </ul>

      </nav>
      </div>

</div>
</div>
