
    <div class="jumbotron"
    style="position: relative;
    padding: 10px;
    margin: 10px;" >
      <h1>NYU숲에 오신 것을 환영합니다.</h1>
      <p>현재 사이트가 개발 중에 있습니다.</p>
      <p><a class="btn btn-info btn-lg" href="/#write" data-ng-show="auth" role="button">Write now!</a></p>
      <p><a class="btn btn-info btn-lg" href="/#register" data-ng-hide="auth" role="button">Register</a></p>
      <!-- <div class="bg"></div> -->
      <br>




      <div class="forest-body">
        <svg enable-background='new 0 0 615.805 98.315' height='98.315px' id='Layer_1' space='preserve' version='1.1' viewbox='0 0 615.805 98.315' width='615.805px' x='0px' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
  <polyline class='line' fill='none' points='&#x000A;	1.5,96.802 1.5,2.802 47.25,96.802 47.25,2.802 ' stroke-linecap='square' stroke-linejoin='bevel' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></polyline>
  <polyline class='line' fill='none' points='&#x000A;	59.097,53.302 90.506,53.302 65.256,1.5 111.084,95.391 ' stroke-linecap='square' stroke-linejoin='bevel' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></polyline>
  <polyline class='line' fill='none' points='&#x000A;	449.504,53.302 480.913,53.302 455.663,1.5 501.491,95.391 ' stroke-linecap='square' stroke-linejoin='bevel' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></polyline>
  <polyline class='line' fill='none' points='&#x000A;	95.054,2.802 155.853,2.802 124.897,2.802 124.643,96.811 ' stroke-linecap='square' stroke-linejoin='bevel' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></polyline>
  <polyline class='line' fill='none' points='&#x000A;	345.754,2.802 406.553,2.802 375.597,2.802 375.343,96.811 ' stroke-linecap='square' stroke-linejoin='bevel' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></polyline>
  <path class='line' d='M167.729,1.5v79.656c0,0-1.46,15.655,14.129,15.655&#x000A;	s14.119-14.769,14.119-14.769L196.014,1.5' fill='none' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></path>
  <path class='line' d='M209.143,2.802c0,0,20.973-1.99,20.973,16.365&#x000A;	c0,15.725-19.21,19.333-19.21,19.333l26.071,56.891' fill='none' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></path>
  <path class='line' d='M417.948,2.802c0,0,20.973-1.99,20.973,16.365&#x000A;	c0,15.725-19.21,19.333-19.21,19.333l26.071,56.891' fill='none' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></path>
  <polyline class='line' fill='none' points='249.643,95.391 249.643,1.5 298.31,1.5 &#x000A;	249.643,1.5 249.643,44.699 291.014,44.699 249.643,44.699 249.643,94.802 298.31,94.889 ' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></polyline>
  <line class='line' fill='none' stroke-linecap='square' stroke-linejoin='bevel' stroke-miterlimit='10' stroke-width='3' stroke='#999999' x1='517.977' x2='517.977' y1='2.802' y2='96.811'></line>
  <polyline class='line' fill='none' points='536.972,2.739 &#x000A;	536.972,96.811 566.639,96.811 ' stroke-linecap='square' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></polyline>
  <path class='line' d='&#x000A;	M607.555,10.811c0,0-5.125-4.5-13.25-4.5s-18.125,7-18.125,21.625s9.375,19,9.375,19s5.198,2.502,9.766,2.5s18.984,5,18.984,23.5&#x000A;	s-12.052,23.875-19.063,23.875c-7.01,0-10.813-2-15.438-6.5' fill='none' stroke-linecap='square' stroke-linejoin='bevel' stroke-miterlimit='10' stroke-width='3' stroke='#999999'></path>
</svg>
<div class='forest'>
  <img class='p1' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/forest_1.svg'>
  <img class='p2' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/forest_2.svg'>
  <img class='p3' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/forest_3.svg'>
  <img class='p4' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/forest_4.svg'>
  <img class='p5' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/forest_5.svg'>
  <img class='p6' src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/forest_6.svg'>
</div>
      </div>
      <!-- <div class="parallax">
        <div class="parallax-group">
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer fill"></div>
        </div>
        <div class="content">
          <h1>NYU FOREST</h1>
          <p>Let's talk</p>
        </div>
      </div> -->


  </div>






      <!-- <div id="chart">

        <svg>
      <script>
      // Tree configuration
      var branches = [];
      var seed = {i: 0, x: 420, y: 600, a: 0, l: 100, d:0}; // a = angle, l = length, d = depth
      var da = 0.3; // Angle delta
      var dl = 0.85; // Length delta (factor)
      var ar = 0.7; // Randomness
      var maxDepth = 10;


      // Tree creation functions
      function branch(b) {
      var end = endPt(b), daR, newB;

      branches.push(b);

      if (b.d === maxDepth)
      return;

      // Left branch
      daR = ar * Math.random() - ar * 0.5;
      newB = {
      i: branches.length,
      x: end.x,
      y: end.y,
      a: b.a - da + daR,
      l: b.l * dl,
      d: b.d + 1,
      parent: b.i
      };
      branch(newB);

      // Right branch
      daR = ar * Math.random() - ar * 0.5;
      newB = {
      i: branches.length,
      x: end.x,
      y: end.y,
      a: b.a + da + daR,
      l: b.l * dl,
      d: b.d + 1,
      parent: b.i
      };
      branch(newB);
      }

      function regenerate(initialise) {
      branches = [];
      branch(seed);
      initialise ? create() : update();
      }

      function endPt(b) {
      // Return endpoint of branch
      var x = b.x + b.l * Math.sin( b.a );
      var y = b.y - b.l * Math.cos( b.a );
      return {x: x, y: y};
      }


      // D3 functions
      var color = d3.scale.linear()
      .domain([0, maxDepth])
      .range(["black","purple"]);

      function x1(d) {return d.x;}
      function y1(d) {return d.y;}
      function x2(d) {return endPt(d).x;}
      function y2(d) {return endPt(d).y;}
      function highlightParents(d) {



      var colour = d3.event.type === 'mouseover' ? 'green' : color(d.d);
      var depth = d.d;
      for(var i = 0; i <= depth; i++) {
      d3.select('#id-'+parseInt(d.i)).style('stroke', colour);
      d = branches[d.parent];
      }
      }

      function create() {
      d3.select('svg')
      .selectAll('line')
      .data(branches)
      .enter()
      .append('line')
      .attr('x1', x1)
      .attr('y1', y1)
      .attr('x2', x2)
      .attr('y2', y2)
      .style('stroke-width', function(d) {
      var t = parseInt(maxDepth*.5 +1 - d.d*.5);
      return  t + 'px';
      })
      .style('stroke', function(d) {
      return color(d.d);
      })
      .attr('id', function(d) {return 'id-'+d.i;});
      }

      function update() {
      d3.select('svg')
      .selectAll('line')
      .data(branches)
      .transition()
      .attr('x1', x1)
      .attr('y1', y1)
      .attr('x2', x2)
      .attr('y2', y2);
      }

      d3.selectAll('.regenerate')
      .on('click', regenerate);

      regenerate(true);
      </script>
        </svg>
      </div> -->
    </div>
