<section class="form-wrapper">
<div ng-controller="editorCtrl" >
  <form meta="post" ng-submit="submit()">
    <select class="form-control" ng-model="category">
      <option>자유 게시판</option>
      <option>사람을 구해요 게시판</option>
      <option>사고 팔아요 게시판</option>
      <option>정보 공유 게시판</option>
      <option>운영자/개발자에게 게시판</option>
    </select>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Title</span>
      <input type="text" class="form-control" placeholder="The title goes here"
      ng-model="title" aria-describedby="basic-addon1">
    </div>
    <br>
      <text-angular ng-model="body"></text-angular>
      <button type="submit" class="btn btn-default">Post!</botton>
  </form>
</div>
<section>
